<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h1>
    <%= player.name %> - Detalhes
  </h1>
  <div>
    <img src="<%= player.image %>" alt="<%= player.name %>" width="200">
    <p><strong>Idade:</strong>
      <%= player.age %>
    </p>
    <p><strong>Time:</strong>
      <%= player.team %>
    </p>
    <p><strong>Jogo:</strong>
      <%= player.game %>
    </p>
    <p><strong>Descrição:</strong>
      <%= player.description %>
    </p>
  </div>
</body>

</html>