<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= player.name %> - Details
  </title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <%- include("partials/header") %>
    <div class="about-player">
      <div class="aboutplayer-img">
        <img src="<%= player.image %>" alt="Imagem do jogador">
      </div>
      <div class="player-details">
        <p><strong>Name:</strong>
          <%= player.name %>
        </p>
        <p><strong>Age:</strong>
          <%= player.age %>
        </p>
        <p><strong>Team:</strong>
          <%= player.team %>
        </p>
        <p><strong>History:</strong>
          <%= player.history %>
        </p>
        <p><strong>Sensibility:</strong>
          <%= player.sensi %>
        </p>
      </div>

      <!-- Verificação de login -->
      <% if (user) { %>
        <button id="savePlayerButton">Salvar Jogador</button>
        <% } else { %>
          <p>Você precisa estar logado para salvar o jogador.</p>
          <% } %>

    </div>
    <%- include("partials/footer") %>

      <script>
        async function savePlayer(player) {
          try {
            const response=await fetch("/savedPlayer/save",{
              method: "POST",
              credentials: "include",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify(player)
            });

            const data=await response.json();
            alert(data.message);
          } catch(error) {
            console.error("Erro ao salvar jogador:",error);
          }
        }

        document.getElementById("savePlayerButton")?.addEventListener("click",() => {
          const player={
            playerName: "<%= player.name %>",
            game: "Counter-Strike",  // Altere conforme necessário
            team: "<%= player.team %>", // Usando o time do jogador
          };

          savePlayer(player);
        });
      </script>
</body>

</html>