<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Players</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <%- include("partials/header") %>
    <div class="playercards">
      <% players.forEach(player=> { %>
        <div class="card">
          <img class="player-img" src="<%= player.image %>" alt="<%= player.name %>">
          <h2>
            <a href="/proplayers/<%= player._id %>">
              <u>
                <%= player.name %>
              </u>
            </a>
          </h2>
          <p><strong>Idade:</strong>
            <%= player.age %>
          </p>
          <p><strong>Time:</strong>
            <%= player.team %>
          </p>
        </div>
        <% }); %>
    </div>
    <%- include("partials/footer") %>

</body>

</html>