<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Jogadores</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <%- include("partials/header") %>
    <div class="playercards">
      <% players.forEach(player=> { %>
        <div class="card">
          <h2>
            <%= player.name %>
          </h2>
          <img class="player-img" src="<%= player.image %>" alt="<%= player.name %>">
          <p><strong>Idade:</strong>
            <%= player.age %>
          </p>
          <p><strong>Time:</strong>
            <%= player.team %>
          </p>
          <p><strong>Sensibilidade:</strong>
            <%= player.sensi %>
          </p>
          <a href="/proplayers/<%= player._id %>"><u>Ver detalhes</u></a>
        </div>
        <% }) %>
    </div>
    <%- include("partials/footer") %>
</body>

</html>