<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teams</title>
  <link rel="stylesheet" href="/style.css">
</head>
<%- include("partials/header") %>
  <div class="team-div">
    <% teams.forEach(team=> { %>
      <p>
        <u>
          <div class="teams">
            <a href="/teams/<%= team._id %>">
              <%= team.name %>
                <img src="<%= team.image %>" class="team-img">
            </a>
          </div>
        </u>
      </p>
      <% }) %>
  </div>
  <%- include("partials/footer") %>

    </body>

</html>